{% extends "page.html" %}

{% block title %}Courses{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 mx-auto">
                <div class="d-flex justify-content-between align-items-center">
                    <h1>Courses</h1>
                    <a class="btn btn-success" href="/courses/create/">New</a>
                </div>

                <table class="table table-striped align-middle">
                    <thead>
                        <th scope="col">Name</th>
                        <th scope="col">Members</th>
                        {% if supervisor %}
                            <th scope="col">Actions</th>
                        {% endif %}
                    </thead>
                    <tbody>
                        {% for course in courses %}
                            <tr>
                                <td>{{ course.name }}</td>
                                <td>{{ course.members }}</td>
                                {% if supervisor %}
                                    <td>
                                        <a class="btn btn-primary btn-sm" href="/courses/edit/{{ course.pk }}/" role="button">Edit</a>
                                        <form method="POST" href="/courses/delete/{{ course.pk }}/" style="display: inline;">
                                            <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                                        </form>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}

                        {% if not courses %}
                            <tr>
                                <td colspan="{{ supervisor|yesno:"3,2" }}">No courses to list!</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}