{% extends "page.html" %}

{% block title %}{{ course }}{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-sm-4 mx-auto">
            <h1>{{ course }}</h1>
            <hr>

            <h3>Create Section</h3>
            <form method="POST">
                {% csrf_token %}
                
                <div class="form-group mb-3">
                    <label for="num">Number</label>
                    <input type="text" class="form-control" name="num" placeholder="Enter number" required>
                </div>

                {% if errors %}
                    <ul>
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <button class="btn btn-primary" type="submit">Create</button>
            </form>

            <hr>

            <h3>Sections</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Number</th>
                    </tr>
                </thead>
                <tbody>
                    {% for section in sections %}
                        <tr>
                            <td>{{ section.num }}</td>
                        </tr>
                    {% endfor %}

                    {% if not sections %}
                        <tr>
                            <td colspan="{{ supervisor|yesno:"2,1" }}">No sections to list!</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}