{% extends "page.html" %}

{% block title %}Homepage{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-8 col-md-6 col-lg-4 mx-auto">
            <h1>{{ user.name }}</h1>
            <table class="table table-striped">
                <tr>
                    <th scope="row">Role</th>
                    <td> {{ user.get_role_display }}</td>
                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td> {{ user.get_email }}</td>
                </tr>
                <tr>
                    <th scope="row">Phone</th>
                    <td> {{ user.get_phone }}</td>
                </tr>
                <tr>
                    <th scope="row">Office Hours</th>
                    <td> {{ user.get_office_hours }}</td>
                </tr>
                <tr>
                    <th scope="row">Address</th>
                    <td> {{ user.get_address }}</td>
                </tr>
            </table>
        <br>
            {% if instructor or ta %}
            <table class="table table-striped" width="300">
                <thead>
                    <tr>
                        <th scope="col">Course</th>
                        <th scope="col">Section</th>
                        <th scope="col">TA</th>
                    </tr>
                </thead>
                <tbody>
                    {% for section in sections %}
                        <tr>
                            <td width="40%">{{ section.course }}</td>
                            <td width="30%">{{ section.num }}</td>
                            <td width="30%">{{ section.ta }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}


        </div>
    </div>
</div>
{% endblock %}