<div class="container mb-2">
    <div class="row">
        <div class="col-12 col-md-7 mx-auto">
            <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbar">
                        <span class="navbar-brand mb-0 h1">TA Scheduler</span>
    
                        <ul class="navbar-nav">
                            <li class="navbar-item">
                                <a class="nav-link" href="/">Homepage</a>
                            </li>
                            <li class="navbar-item">
                                <a class="nav-link" href="/users/{{ request.session.account }}/">Profile</a>
                            </li>
                            <li class="navbar-item">
                                <a class="nav-link" href="/users/">Users</a>
                            </li>
                            <li class="navbar-item">
                                <a class="nav-link" href="/courses/">Courses</a>
                            </li>
                            <li class="navbar-item">
                                <form method="POST" action="/logout/" name="logout">
                                    {% csrf_token %}
                                    <a class="nav-link" href="document.logout.submit();">Logout</a>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>