{% extends "page.html" %}

{% block title %}Create User{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-8 col-md-6 col-lg-4 mx-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/users/">Users</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Create User</li>
                </ol>
            </nav>

            <form method="POST">
                {% csrf_token %}
    
                <h1>Create User</h1>
        
                <div class="form-group mb-3">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Enter name" required>
                </div>
    
                <div class="form-group mb-3">
                    <label for="role">Role</label>
                    <select class="form-select" name="role" required>
                        {% for role in roles %}
                            <option value="{{ role.0 }}"{% if role.0 == 2 %} selected{% endif %}>{{ role.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
    
                <div class="form-group mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" placeholder="Email" required>
                </div>
    
                <div class="form-group mb-3">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                </div>
    
                <div class="form-group mb-3">
                    <label for="skills">Skills</label>
                    <input type="text" class="form-control" name="skills" placeholder="Skills">
                </div>
    
                <div class="form-group mb-3">
                    <label for="phone">Phone number</label>
                    <input type="text" class="form-control" name="phone" placeholder="Phone number">
                </div>
    
                <div class="form-group mb-3">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" name="address" placeholder="Address">
                </div>
    
                <div class="form-group mb-3">
                    <label for="office_hours">Office hours</label>
                    <input type="text" class="form-control" name="office_hours" placeholder="Office hours">
                </div>
    
                {% if errors %}
                    <ul>
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
    
                <button class="btn btn-primary mb-3" type="submit">Create</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}