{% extends "page.html" %}

{% block title %}Delete User{% endblock %}

{% block main %}
    <!--
        Handy arguments you may want to include:
        - error: error, if any
        - users: all users as Account objects

        Use form elements with method="POST" and action="/users/delete/{{ user.pk }}"
        and button elements with type="SUBMIT" for each user.

        If you want to take a crack at styling things, check
        login.html for an example.

        Hit me up if you need anything.
        You're gonna do great.
    -->
{% endblock %}