{% extends "page.html" %}
{% load static %}

{% block title %}Users{% endblock %}

{% block main %}
<!--
    Handy arguments you may want to include:
    - error: error, if any
    - users: all users as Account objects

    Use form elements with method="POST" and action="/users/delete/{{ user.pk }}"
    and button elements with type="SUBMIT" for each user.

    If you want to take a crack at styling things, check
    login.html for an example.

    Hit me up if you need anything.
    You're gonna do great.
-->
<div class="container">
    <div class="row">
        <div class="col-sm-4 mx-auto">
            <div class="d-flex justify-content-between align-items-center">
                <h1>Users</h1>
                {% if supervisor %}
                    <a class="btn btn-success" href="/users/create/">New</a>
                {% endif %}
            </div>
            <hr>

            <table class="table table-striped align-middle">
                <thead>
                    <th scope="col">Name</th>
                    {% if supervisor %}
                        <th scope="col">Actions</th>
                    {% endif %}
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>
                                <a href="/users/{{ user.pk }}/">
                                    {{ user.name }}
                                </a>
                            </td>
                            {% if supervisor %}
                                <td>
                                    {% if user.pk != request.session.account %}
                                        <form method="POST" action="/users/{{ user.pk }}/delete/" style="display: inline;">
                                            {% csrf_token %}
                                            <button type = "button" class="btn btn-danger btn-sm" onclick="javascript:confirmDelete(this);">Delete</button>
                                        </form>
                                    {% else %}
                                        <a href="https://64.media.tumblr.com/4aeb6c2b7a20dc04d052f31ae52ac828/tumblr_inline_o034yh1iBE1qda68o_540.png" target="_blank" style="font-family: 'Courier New', Courier, monospace;">* It's you!</a>
                                    {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}

                    {% if not users %}
                        <tr>
                            <td colspan="{{ supervisor|yesno:"2,1" }}">No users to list!</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static "scripts/actions.js" %}"></script>
{% endblock %}